<div class="bg-white shadow">
   <div class="container mx-auto px-4 py-2 md:py-3">
      <div class="flex justify-between items-center">
         <!-- Twitter Title -->
         <div class="flex text-lg md:text-xl font-bold">
            <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Twitter_icon-icons.com_66803.png" alt="" width="5.9%" height="auto">
            <h1 class="pl-2">Twitter</h1>
         </div>
         <!-- user -->
         <div class="relative">
            <div class="
            cursor-pointer
            bg-blue-200
            text-blue-600
            flex
            items-center
            justify-center
            rounded-full
            w-10 h-10">
               D
            </div>
         </div>
      </div>
   </div>
</div>