<div class="bg-white rounded-lg shadow p-6 mb-8">
   <div class="w-full">
      <!-- avatar circle -->
      <div class="flex">
         <div class="cursor-pointer font-bold w-16 h-16 bg-gray-300 flex items-center justify-center rounded-full mr-5">D</div>
         <!-- form -->
         <div class="flex-1">

            <!-- textarea -->
            <textarea maxlength="240" class="mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 border boder-transpoarent rounded-lg py-2 px-4 block w-full appearence-none font-light resize-none placeholder-gray-700" row="3" placeholder="What's happening..."></textarea>

            <!-- divider line -->
            <div class="w-auto border rounded-lg"></div>

            <!-- interactive -->
            <div class="flex justify-end items-baseline">

               <!-- count chars -->
               <div class="mr-5 font-thin text-gray-500"><p>240</p></div>

               <!-- button -->
               <div class="mt-5">
                  <button type="button" class="w-32 focus:outline-none border border0transparent py-2 px-5 rounded-lg shadow bg-blue-500 hover:bg-blue-600 font-medium text-white text-center">Tweet</button>
               </div>

            </div>

         </div>
      </div>
   </div>
</div>
